@import 'variables';

header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;

  &h3 {
    color: #fcc754;
  }
}
